.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.background {
  width: 100%;
  background-image: url(../public/assets/intro-page.jpg);
  background-size: cover;
}

.toggleBtn {
  font-size: 1rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  background: #4d5b9e;
  padding: 1em 2.5em;
  border: none;
  color: white;
  border-radius: 15px;
  margin: 0 auto;
}

/* Welcome (First Page) */

.welcome {
  font-family: 'Inter';
  font-weight: 400;
  text-align: center;
  height: 100vh;
}

.welcome h1 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
}

/* Quiz */
.quiz {
  padding: 3em;
}

.question {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  color: #293264;
  font-size: 1.25rem;
}

.option-container {
  display: flex;
  justify-content: flex-start;
}

.option {
  text-align: center;
  color: #293264;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 15px;
  border: 0.794239px solid #4d5b9e;
  background-color: transparent;
  margin-right: 1.5em;
  padding: 0.5em 1.5em;
}

/* answer */

.selected {
  background-color: #d6dbf5;
  border: none;
}

.correct {
  background: #94d7a2;
  border: none;
}

.incorrect {
  background: #f8bcbc;
}

/* footer */

.footer {
  margin: 2em auto;
  text-align: center;
}
