.background {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../public/assets/intro-page.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clicked {
  background-color: purple;
}

.correct{

}

.wrong{
  
}

